In [1]:
import pandas as pd
import numpy as np

In [2]:
calories10 = pd.read_json('osfstorage-archive/pmdata/p10/fitbit/calories.json')
distance10 = pd.read_json('osfstorage-archive/pmdata/p10/fitbit/distance.json')
l_act10 = pd.read_json('osfstorage-archive/pmdata/p10/fitbit/lightly_active_minutes.json')
m_act10 = pd.read_json('osfstorage-archive/pmdata/p10/fitbit/moderately_active_minutes.json')
r_heart10 = pd.read_json('osfstorage-archive/pmdata/p10/fitbit/resting_heart_rate.json')
sedentary10 = pd.read_json('osfstorage-archive/pmdata/p10/fitbit/sedentary_minutes.json')
sleep_score10 = pd.read_csv('osfstorage-archive/pmdata/p10/fitbit/sleep_score.csv')
sleep10 = pd.read_json('osfstorage-archive/pmdata/p10/fitbit/sleep.json')
steps10 = pd.read_json('osfstorage-archive/pmdata/p10/fitbit/steps.json')
hr_zone10 = pd.read_json('osfstorage-archive/pmdata/p10/fitbit/time_in_heart_rate_zones.json')
v_act10 = pd.read_json('osfstorage-archive/pmdata/p10/fitbit/very_active_minutes.json')

In [3]:
google_docs10 = pd.read_csv('osfstorage-archive/pmdata/p10/googledocs/reporting.csv')

In [4]:
calories10.head()

             dateTime  value
0 2019-11-05 00:00:00   1.02
1 2019-11-05 00:01:00   1.02
2 2019-11-05 00:02:00   1.02
3 2019-11-05 00:03:00   1.02
4 2019-11-05 00:04:00   1.02

In [6]:
calories_processed = calories10.resample('D', on = 'dateTime').value.sum()

In [7]:
distance10.head() # per min -> per date

             dateTime  value
0 2019-11-07 18:50:00      0
1 2019-11-07 18:59:00   1180
2 2019-11-07 19:00:00   2950
3 2019-11-07 19:01:00    140
4 2019-11-07 19:02:00  10760

In [9]:
distance_processed = distance10.resample('D', on = 'dateTime').value.sum()

In [10]:
steps_processed = steps10.resample('D', on = 'dateTime').value.sum()

In [11]:
l_act10.head() #per day

    dateTime  value
0 2019-11-05      0
1 2019-11-06      0
2 2019-11-07     30
3 2019-11-08    313
4 2019-11-09    232

In [12]:
m_act10.head() #per day

    dateTime  value
0 2019-11-05      0
1 2019-11-06      0
2 2019-11-07     39
3 2019-11-08      0
4 2019-11-09     24

In [13]:
r_heart10

      dateTime                                              value
0   2019-11-05         {'date': None, 'value': 0.0, 'error': 0.0}
1   2019-11-06         {'date': None, 'value': 0.0, 'error': 0.0}
2   2019-11-07         {'date': None, 'value': 0.0, 'error': 0.0}
3   2019-11-08  {'date': '11/08/19', 'value': 71.0, 'error': 1...
4   2019-11-09  {'date': '11/09/19', 'value': 70.0497732162475...
..         ...                                                ...
143 2020-03-27         {'date': None, 'value': 0.0, 'error': 0.0}
144 2020-03-28         {'date': None, 'value': 0.0, 'error': 0.0}
145 2020-03-29         {'date': None, 'value': 0.0, 'error': 0.0}
146 2020-03-30         {'date': None, 'value': 0.0, 'error': 0.0}
147 2020-03-31         {'date': None, 'value': 0.0, 'error': 0.0}

[148 rows x 2 columns]

In [15]:
r_heart10['value']=r_heart10['value'].apply(lambda x: x['value'])

In [16]:
r_heart_processed=r_heart10

In [17]:
sedentary10

      dateTime  value
0   2019-11-05   1440
1   2019-11-06   1440
2   2019-11-07   1309
3   2019-11-08    549
4   2019-11-09    617
..         ...    ...
143 2020-03-27   1440
144 2020-03-28   1440
145 2020-03-29   1440
146 2020-03-30   1440
147 2020-03-31   1440

[148 rows x 2 columns]

In [18]:
sleep_score10 # timestamp into datatime

,timestamp,sleep_log_entry_id,overall_score,composition_score,revitalization_score,duration_score,deep_sleep_in_minutes,resting_heart_rate,restlessness
0,2019-11-09T11:14:30Z,24581798173,83,21,20,42,50,71,0.146390
1,2019-11-10T10:24:30Z,24581798174,76,19,19,38,75,70,0.123288
2,2019-11-11T07:43:00Z,24591546332,77,20,18,39,59,65,0.120674
3,2019-11-12T08:37:30Z,24606870468,82,21,20,41,82,65,0.115226
4,2019-11-13T07:33:30Z,24627151617,79,21,19,39,53,65,0.121547
...,...,...,...,...,...,...,...,...,...
93,2020-02-24T08:28:00Z,26044112041,71,21,15,35,73,65,0.078621
94,2020-02-25T07:45:00Z,26059972550,81,21,17,43,79,66,0.085062
95,2020-02-26T07:44:00Z,26076106953,72,19,12,41,83,66,0.069930
96,2020-02-27T07:33:00Z,26097289710,81,18,21,42,36,68,0.076609
97,2020-02-28T07:18:00Z,26105749295,73,19,14,40,94,65,0.116279

In [19]:
sleep_score10['timestamp']

0     2019-11-09T11:14:30Z
1     2019-11-10T10:24:30Z
2     2019-11-11T07:43:00Z
3     2019-11-12T08:37:30Z
4     2019-11-13T07:33:30Z
              ...
93    2020-02-24T08:28:00Z
94    2020-02-25T07:45:00Z
95    2020-02-26T07:44:00Z
96    2020-02-27T07:33:00Z
97    2020-02-28T07:18:00Z
Name: timestamp, Length: 98, dtype: object

In [21]:
sleep_score10['timestamp']=sleep_score10['timestamp'].apply(lambda x: x[:10])

In [22]:
sleep_score10.drop(columns='sleep_log_entry_id').head()

,timestamp,overall_score,composition_score,revitalization_score,duration_score,deep_sleep_in_minutes,resting_heart_rate,restlessness
0,2019-11-09,83,21,20,42,50,71,0.146390
1,2019-11-10,76,19,19,38,75,70,0.123288
2,2019-11-11,77,20,18,39,59,65,0.120674
3,2019-11-12,82,21,20,41,82,65,0.115226
4,2019-11-13,79,21,19,39,53,65,0.121547

In [23]:
sleep_score_processed = sleep_score10.drop(columns='sleep_log_entry_id')

In [24]:
sleep10 # date of sleep to index 
# which attributes to use?

,logId,dateOfSleep,startTime,endTime,duration,minutesToFallAsleep,minutesAsleep,minutesAwake,minutesAfterWakeup,timeInBed,efficiency,type,infoCode,levels,mainSleep
0,24581798172,2019-11-08,2019-11-07 22:29:30,2019-11-08T08:07:30.000,34680000,0,512,66,0,578,93,stages,0,"{'summary': {'deep': {'count': 2, 'minutes': 6...",True
1,24581798173,2019-11-09,2019-11-09 02:39:00,2019-11-09T11:14:30.000,30900000,0,465,50,0,515,95,stages,0,"{'summary': {'deep': {'count': 3, 'minutes': 5...",True
2,24581798174,2019-11-10,2019-11-10 01:17:30,2019-11-10T10:24:30.000,32820000,0,466,81,0,547,88,stages,0,"{'summary': {'deep': {'count': 4, 'minutes': 7...",True
3,24591546332,2019-11-11,2019-11-10 22:48:30,2019-11-11T07:43:00.000,32040000,0,457,77,0,534,86,stages,0,"{'summary': {'deep': {'count': 2, 'minutes': 5...",True
4,24606870468,2019-11-12,2019-11-12 00:29:00,2019-11-12T08:37:30.000,29280000,0,426,62,0,488,92,stages,0,"{'summary': {'deep': {'count': 4, 'minutes': 8...",True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,26044112041,2020-02-24,2020-02-24 02:25:30,2020-02-24T08:28:00.000,21720000,0,326,36,0,362,92,stages,0,"{'summary': {'deep': {'count': 3, 'minutes': 7...",True
99,26059972550,2020-02-25,2020-02-24 23:40:00,2020-02-25T07:45:00.000,29100000,0,453,32,0,485,94,stages,0,"{'summary': {'deep': {'count': 4, 'minutes': 7...",True
100,26076106953,2020-02-26,2020-02-25 23:22:00,2020-02-26T07:44:00.000,30120000,0,443,59,0,502,93,stages,0,"{'summary': {'deep': {'count': 3, 'minutes': 8...",True
101,26097289710,2020-02-27,2020-02-26 23:23:00,2020-02-27T07:33:00.000,29400000,0,448,42,1,490,93,stages,0,"{'summary': {'deep': {'count': 5, 'minutes': 3...",True
102,26105749295,2020-02-28,2020-02-27 22:12:00,2020-02-28T07:18:00.000,32760000,0,477,69,1,546,88,stages,0,"{'summary': {'deep': {'count': 4, 'minutes': 9...",True

In [25]:
hr_zone10

      dateTime                                              value
0   2019-11-07  {'valuesInZones': {'IN_DEFAULT_ZONE_3': 28.0, ...
1   2019-11-08  {'valuesInZones': {'IN_DEFAULT_ZONE_3': 0.0, '...
2   2019-11-09  {'valuesInZones': {'IN_DEFAULT_ZONE_3': 4.0, '...
3   2019-11-10  {'valuesInZones': {'IN_DEFAULT_ZONE_2': 14.0, ...
4   2019-11-11  {'valuesInZones': {'IN_DEFAULT_ZONE_1': 213.0,...
..         ...                                                ...
109 2020-02-24  {'valuesInZones': {'IN_DEFAULT_ZONE_3': 2.0, '...
110 2020-02-25  {'valuesInZones': {'IN_DEFAULT_ZONE_1': 319.0,...
111 2020-02-26  {'valuesInZones': {'BELOW_DEFAULT_ZONE_1': 857...
112 2020-02-27  {'valuesInZones': {'IN_DEFAULT_ZONE_3': 0.0, '...
113 2020-02-28  {'valuesInZones': {'IN_DEFAULT_ZONE_3': 0.0, '...

[114 rows x 2 columns]

In [27]:
hr_zone_value = pd.DataFrame([eval(str(a).replace('{\'valuesInZones\': ','').replace('}}','}')) for a in hr_zone10['value']])

In [28]:
hr_zone_value

,IN_DEFAULT_ZONE_3,IN_DEFAULT_ZONE_1,BELOW_DEFAULT_ZONE_1,IN_DEFAULT_ZONE_2
0,28.0,74.0,122.0,16.0
1,0.0,158.0,1265.0,5.0
2,4.0,280.0,1112.0,6.0
3,27.0,224.0,1125.0,14.0
4,0.0,213.0,1046.0,0.0
...,...,...,...,...
109,2.0,505.0,847.0,19.0
110,0.0,319.0,1070.0,19.0
111,0.0,330.0,857.0,12.0
112,0.0,288.0,964.0,15.0
113,0.0,18.0,470.0,0.0

In [29]:
hr_zone_processed = pd.concat([hr_zone10['dateTime'], hr_zone_value], axis=1)

In [30]:
hr_zone_processed

,dateTime,IN_DEFAULT_ZONE_3,IN_DEFAULT_ZONE_1,BELOW_DEFAULT_ZONE_1,IN_DEFAULT_ZONE_2
0,2019-11-07,28.0,74.0,122.0,16.0
1,2019-11-08,0.0,158.0,1265.0,5.0
2,2019-11-09,4.0,280.0,1112.0,6.0
3,2019-11-10,27.0,224.0,1125.0,14.0
4,2019-11-11,0.0,213.0,1046.0,0.0
...,...,...,...,...,...
109,2020-02-24,2.0,505.0,847.0,19.0
110,2020-02-25,0.0,319.0,1070.0,19.0
111,2020-02-26,0.0,330.0,857.0,12.0
112,2020-02-27,0.0,288.0,964.0,15.0
113,2020-02-28,0.0,18.0,470.0,0.0

In [31]:
v_act10

      dateTime  value
0   2019-11-05      0
1   2019-11-06      0
2   2019-11-07     62
3   2019-11-08      0
4   2019-11-09     52
..         ...    ...
143 2020-03-27      0
144 2020-03-28      0
145 2020-03-29      0
146 2020-03-30      0
147 2020-03-31      0

[148 rows x 2 columns]

In [32]:
google_docs10 # missing values?

,date,timestamp,meals,weight,glasses_of_fluid,alcohol_consumed
0,15/11/2019,16/12/2019 13:45:50,"Breakfast, Dinner",71.0,10,No
1,15/11/2019,16/11/2019 09:52:16,"Lunch, Dinner, Evening",72.0,5,Yes
2,16/11/2019,17/11/2019 09:26:07,"Lunch, Dinner, Evening",72.0,5,Yes
3,17/11/2019,18/11/2019 07:52:23,"Lunch, Dinner",72.0,4,Yes
4,18/11/2019,19/11/2019 08:41:00,"Lunch, Dinner",71.0,6,No
...,...,...,...,...,...,...
95,24/02/2020,25/02/2020 09:07:17,"Breakfast, Lunch, Dinner, Evening",NaN,8,Do not want to provide this information
96,25/02/2020,26/02/2020 08:48:05,"Breakfast, Lunch, Evening",NaN,5,Do not want to provide this information
97,26/02/2020,27/02/2020 16:43:56,"Breakfast, Lunch, Dinner",NaN,8,Do not want to provide this information
98,27/02/2020,28/02/2020 08:13:40,"Breakfast, Lunch, Dinner",NaN,8,Do not want to provide this information
99,29/02/2020,29/02/2020 10:09:25,"Breakfast, Lunch, Dinner",NaN,7,Do not want to provide this information

In [33]:
sleep10 #drop duplicates, logID, start/endtime, type, infocode, levels
#date of sleep - 1

,logId,dateOfSleep,startTime,endTime,duration,minutesToFallAsleep,minutesAsleep,minutesAwake,minutesAfterWakeup,timeInBed,efficiency,type,infoCode,levels,mainSleep
0,24581798172,2019-11-08,2019-11-07 22:29:30,2019-11-08T08:07:30.000,34680000,0,512,66,0,578,93,stages,0,"{'summary': {'deep': {'count': 2, 'minutes': 6...",True
1,24581798173,2019-11-09,2019-11-09 02:39:00,2019-11-09T11:14:30.000,30900000,0,465,50,0,515,95,stages,0,"{'summary': {'deep': {'count': 3, 'minutes': 5...",True
2,24581798174,2019-11-10,2019-11-10 01:17:30,2019-11-10T10:24:30.000,32820000,0,466,81,0,547,88,stages,0,"{'summary': {'deep': {'count': 4, 'minutes': 7...",True
3,24591546332,2019-11-11,2019-11-10 22:48:30,2019-11-11T07:43:00.000,32040000,0,457,77,0,534,86,stages,0,"{'summary': {'deep': {'count': 2, 'minutes': 5...",True
4,24606870468,2019-11-12,2019-11-12 00:29:00,2019-11-12T08:37:30.000,29280000,0,426,62,0,488,92,stages,0,"{'summary': {'deep': {'count': 4, 'minutes': 8...",True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,26044112041,2020-02-24,2020-02-24 02:25:30,2020-02-24T08:28:00.000,21720000,0,326,36,0,362,92,stages,0,"{'summary': {'deep': {'count': 3, 'minutes': 7...",True
99,26059972550,2020-02-25,2020-02-24 23:40:00,2020-02-25T07:45:00.000,29100000,0,453,32,0,485,94,stages,0,"{'summary': {'deep': {'count': 4, 'minutes': 7...",True
100,26076106953,2020-02-26,2020-02-25 23:22:00,2020-02-26T07:44:00.000,30120000,0,443,59,0,502,93,stages,0,"{'summary': {'deep': {'count': 3, 'minutes': 8...",True
101,26097289710,2020-02-27,2020-02-26 23:23:00,2020-02-27T07:33:00.000,29400000,0,448,42,1,490,93,stages,0,"{'summary': {'deep': {'count': 5, 'minutes': 3...",True
102,26105749295,2020-02-28,2020-02-27 22:12:00,2020-02-28T07:18:00.000,32760000,0,477,69,1,546,88,stages,0,"{'summary': {'deep': {'count': 4, 'minutes': 9...",True

In [35]:
sleep10['dateOfSleep'][sleep10['dateOfSleep'].duplicated()]

27    2019-12-05
43    2019-12-20
64    2020-01-18
80    2020-02-03
Name: dateOfSleep, dtype: object

In [36]:
wellness = pd.read_csv('osfstorage-archive/pmdata/p10/pmsys/wellness.csv')

In [37]:
wellness

,effective_time_frame,fatigue,mood,readiness,sleep_duration_h,sleep_quality,soreness,soreness_area,stress
0,2019-11-16T08:52:38.649Z,3,3,4,8,3,3,[],3
1,2019-11-17T08:21:26.191Z,3,3,5,7,4,3,[],2
2,2019-11-18T06:50:40.627Z,2,2,2,6,2,3,[],2
3,2019-11-19T07:41:12.081Z,3,3,5,8,3,3,[],2
4,2019-11-20T05:37:21.824Z,2,3,5,5,2,2,"[48979004, 32696007, 12921003]",1
...,...,...,...,...,...,...,...,...,...
91,2020-02-25T08:06:18.903Z,2,3,5,7,3,3,[],3
92,2020-02-26T07:43:45.669Z,2,3,2,7,2,3,[],3
93,2020-02-27T15:42:44.450Z,2,3,4,7,3,2,"[48979004, 32696007, 368208006, 368209003, 695...",3
94,2020-02-28T07:12:41.390Z,3,3,4,8,2,2,"[48979004, 32696007, 368208006, 368209003, 695...",3
95,2020-02-29T09:07:30.454Z,2,4,1,8,2,2,"[48979004, 32696007, 368208006, 368209003, 695...",2

In [38]:
wellness['effective_time_frame'] = wellness['effective_time_frame'].apply(lambda x: x[:10])

In [39]:
wellness

,effective_time_frame,fatigue,mood,readiness,sleep_duration_h,sleep_quality,soreness,soreness_area,stress
0,2019-11-16,3,3,4,8,3,3,[],3
1,2019-11-17,3,3,5,7,4,3,[],2
2,2019-11-18,2,2,2,6,2,3,[],2
3,2019-11-19,3,3,5,8,3,3,[],2
4,2019-11-20,2,3,5,5,2,2,"[48979004, 32696007, 12921003]",1
...,...,...,...,...,...,...,...,...,...
91,2020-02-25,2,3,5,7,3,3,[],3
92,2020-02-26,2,3,2,7,2,3,[],3
93,2020-02-27,2,3,4,7,3,2,"[48979004, 32696007, 368208006, 368209003, 695...",3
94,2020-02-28,3,3,4,8,2,2,"[48979004, 32696007, 368208006, 368209003, 695...",3
95,2020-02-29,2,4,1,8,2,2,"[48979004, 32696007, 368208006, 368209003, 695...",2

In [40]:
wellness['effective_time_frame'].head(30)

0     2019-11-16
1     2019-11-17
2     2019-11-18
3     2019-11-19
4     2019-11-20
5     2019-11-21
6     2019-11-22
7     2019-11-23
8     2019-11-24
9     2019-11-25
10    2019-11-26
11    2019-11-27
12    2019-11-28
13    2019-11-30
14    2019-12-01
15    2019-12-02
16    2019-12-03
17    2019-12-04
18    2019-12-05
19    2019-12-06
20    2019-12-07
21    2019-12-08
22    2019-12-09
23    2019-12-10
24    2019-12-11
25    2019-12-12
26    2019-12-13
27    2019-12-14
28    2019-12-15
29    2019-12-16
Name: effective_time_frame, dtype: object

aggregate

In [41]:
l_act10_processed = l_act10.set_index('dateTime')

In [42]:
m_act10_processed = m_act10.set_index('dateTime')

In [43]:
r_heart_processed = r_heart_processed.set_index('dateTime')

In [44]:
sedentary10_processed = sedentary10.set_index('dateTime')

In [45]:
sleep_score_processed = sleep_score_processed.set_index('timestamp')

In [46]:
sleep10_processed = sleep10.set_index('dateOfSleep')

In [47]:
hr_zone_processed

,dateTime,IN_DEFAULT_ZONE_3,IN_DEFAULT_ZONE_1,BELOW_DEFAULT_ZONE_1,IN_DEFAULT_ZONE_2
0,2019-11-07,28.0,74.0,122.0,16.0
1,2019-11-08,0.0,158.0,1265.0,5.0
2,2019-11-09,4.0,280.0,1112.0,6.0
3,2019-11-10,27.0,224.0,1125.0,14.0
4,2019-11-11,0.0,213.0,1046.0,0.0
...,...,...,...,...,...
109,2020-02-24,2.0,505.0,847.0,19.0
110,2020-02-25,0.0,319.0,1070.0,19.0
111,2020-02-26,0.0,330.0,857.0,12.0
112,2020-02-27,0.0,288.0,964.0,15.0
113,2020-02-28,0.0,18.0,470.0,0.0

In [48]:
hr_zone_processed = hr_zone_processed.set_index('dateTime')

In [49]:
v_act10_processed = v_act10.set_index('dateTime')

In [50]:
[i.index for i in [calories_processed,distance_processed,l_act10_processed,m_act10_processed,r_heart_processed,sedentary10_processed,sleep_score_processed,sleep10_processed,steps_processed,hr_zone_processed,v_act10_processed]]

[DatetimeIndex(['2019-11-05', '2019-11-06', '2019-11-07', '2019-11-08',
                '2019-11-09', '2019-11-10', '2019-11-11', '2019-11-12',
                '2019-11-13', '2019-11-14',
                ...
                '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25',
                '2020-03-26', '2020-03-27', '2020-03-28', '2020-03-29',
                '2020-03-30', '2020-03-31'],
               dtype='datetime64[ns]', name='dateTime', length=148, freq='D'),
 DatetimeIndex(['2019-11-07', '2019-11-08', '2019-11-09', '2019-11-10',
                '2019-11-11', '2019-11-12', '2019-11-13', '2019-11-14',
                '2019-11-15', '2019-11-16',
                ...
                '2020-02-19', '2020-02-20', '2020-02-21', '2020-02-22',
                '2020-02-23', '2020-02-24', '2020-02-25', '2020-02-26',
                '2020-02-27', '2020-02-28'],
               dtype='datetime64[ns]', name='dateTime', length=114, freq='D'),
 DatetimeIndex(['2019-11-05', '2019-11-06', '2019-11-07', '2019-11-08',
                '2019-11-09', '2019-11-10', '2019-11-11', '2019-11-12',
                '2019-11-13', '2019-11-14',
                ...
                '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25',
                '2020-03-26', '2020-03-27', '2020-03-28', '2020-03-29',
                '2020-03-30', '2020-03-31'],
               dtype='datetime64[ns]', name='dateTime', length=148, freq=None),
 DatetimeIndex(['2019-11-05', '2019-11-06', '2019-11-07', '2019-11-08',
                '2019-11-09', '2019-11-10', '2019-11-11', '2019-11-12',
                '2019-11-13', '2019-11-14',
                ...
                '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25',
                '2020-03-26', '2020-03-27', '2020-03-28', '2020-03-29',
                '2020-03-30', '2020-03-31'],
               dtype='datetime64[ns]', name='dateTime', length=148, freq=None),
 DatetimeIndex(['2019-11-05', '2019-11-06', '2019-11-07', '2019-11-08',
                '2019-11-09', '2019-11-10', '2019-11-11', '2019-11-12',
                '2019-11-13', '2019-11-14',
                ...
                '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25',
                '2020-03-26', '2020-03-27', '2020-03-28', '2020-03-29',
                '2020-03-30', '2020-03-31'],
               dtype='datetime64[ns]', name='dateTime', length=148, freq=None),
 DatetimeIndex(['2019-11-05', '2019-11-06', '2019-11-07', '2019-11-08',
                '2019-11-09', '2019-11-10', '2019-11-11', '2019-11-12',
                '2019-11-13', '2019-11-14',
                ...
                '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25',
                '2020-03-26', '2020-03-27', '2020-03-28', '2020-03-29',
                '2020-03-30', '2020-03-31'],
               dtype='datetime64[ns]', name='dateTime', length=148, freq=None),
 Index(['2019-11-09', '2019-11-10', '2019-11-11', '2019-11-12', '2019-11-13',
        '2019-11-14', '2019-11-15', '2019-11-16', '2019-11-17', '2019-11-18',
        '2019-11-19', '2019-11-20', '2019-11-21', '2019-11-22', '2019-11-23',
        '2019-11-24', '2019-11-25', '2019-11-26', '2019-11-27', '2019-11-28',
        '2019-11-29', '2019-11-30', '2019-12-02', '2019-12-03', '2019-12-04',
        '2019-12-05', '2019-12-06', '2019-12-07', '2019-12-08', '2019-12-09',
        '2019-12-10', '2019-12-11', '2019-12-12', '2019-12-13', '2019-12-14',
        '2019-12-15', '2019-12-16', '2019-12-17', '2019-12-18', '2019-12-19',
        '2019-12-20', '2019-12-21', '2019-12-22', '2019-12-24', '2019-12-27',
        '2019-12-28', '2019-12-29', '2019-12-30', '2019-12-31', '2020-01-01',
        '2020-01-02', '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-11',
        '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16', '2020-01-17',
        '2020-01-18', '2020-01-19', '2020-01-21', '2020-01-22', '2020-01-23',
        '2020-01-24', '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
        '2020-01-29', '2020-01-30', '2020-01-31', '2020-02-01', '2020-02-02',
        '2020-02-03', '2020-02-04', '2020-02-05', '2020-02-06', '2020-02-07',
        '2020-02-08', '2020-02-09', '2020-02-10', '2020-02-11', '2020-02-13',
        '2020-02-14', '2020-02-16', '2020-02-17', '2020-02-18', '2020-02-19',
        '2020-02-20', '2020-02-21', '2020-02-22', '2020-02-24', '2020-02-25',
        '2020-02-26', '2020-02-27', '2020-02-28'],
       dtype='object', name='timestamp'),
 Index(['2019-11-08', '2019-11-09', '2019-11-10', '2019-11-11', '2019-11-12',
        '2019-11-13', '2019-11-14', '2019-11-15', '2019-11-16', '2019-11-17',
        ...
        '2020-02-18', '2020-02-19', '2020-02-20', '2020-02-21', '2020-02-22',
        '2020-02-24', '2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28'],
       dtype='object', name='dateOfSleep', length=103),
 DatetimeIndex(['2019-11-07', '2019-11-08', '2019-11-09', '2019-11-10',
                '2019-11-11', '2019-11-12', '2019-11-13', '2019-11-14',
                '2019-11-15', '2019-11-16',
                ...
                '2020-02-19', '2020-02-20', '2020-02-21', '2020-02-22',
                '2020-02-23', '2020-02-24', '2020-02-25', '2020-02-26',
                '2020-02-27', '2020-02-28'],
               dtype='datetime64[ns]', name='dateTime', length=114, freq='D'),
 DatetimeIndex(['2019-11-07', '2019-11-08', '2019-11-09', '2019-11-10',
                '2019-11-11', '2019-11-12', '2019-11-13', '2019-11-14',
                '2019-11-15', '2019-11-16',
                ...
                '2020-02-19', '2020-02-20', '2020-02-21', '2020-02-22',
                '2020-02-23', '2020-02-24', '2020-02-25', '2020-02-26',
                '2020-02-27', '2020-02-28'],
               dtype='datetime64[ns]', name='dateTime', length=114, freq=None),
 DatetimeIndex(['2019-11-05', '2019-11-06', '2019-11-07', '2019-11-08',
                '2019-11-09', '2019-11-10', '2019-11-11', '2019-11-12',
                '2019-11-13', '2019-11-14',
                ...
                '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25',
                '2020-03-26', '2020-03-27', '2020-03-28', '2020-03-29',
                '2020-03-30', '2020-03-31'],
               dtype='datetime64[ns]', name='dateTime', length=148, freq=None)]

In [51]:
sleep_score_processed.index = pd.to_datetime(sleep_score_processed.index)

In [52]:
sleep10_processed.index = pd.to_datetime(sleep10_processed.index)

In [53]:
sleep10_processed = sleep10_processed[~sleep10_processed.index.duplicated(keep='first')]

In [54]:
sleep10_processed['mainSleep'] = pd.get_dummies(sleep10_processed['mainSleep'])

In [55]:
sleep10_processed = sleep10_processed.drop(['logId','startTime','endTime','type','infoCode','levels'], axis=1)

In [57]:
P10 = pd.concat([calories_processed,distance_processed,l_act10_processed,m_act10_processed,r_heart_processed,sedentary10_processed,sleep_score_processed,sleep10_processed,steps_processed,hr_zone_processed,v_act10_processed], axis=1)

In [58]:
P10

,value,value,value,value,value,value,overall_score,composition_score,revitalization_score,duration_score,...,minutesAfterWakeup,timeInBed,efficiency,mainSleep,value,IN_DEFAULT_ZONE_3,IN_DEFAULT_ZONE_1,BELOW_DEFAULT_ZONE_1,IN_DEFAULT_ZONE_2,value
2019-11-05,1468.80,NaN,0,0,0.000000,1440,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2019-11-06,1468.80,NaN,0,0,0.000000,1440,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2019-11-07,2281.60,806250.0,30,39,0.000000,1309,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,9198.0,28.0,74.0,122.0,16.0,62
2019-11-08,2418.10,719230.0,313,0,71.000000,549,NaN,NaN,NaN,NaN,...,0.0,578.0,93.0,1.0,9865.0,0.0,158.0,1265.0,5.0,0
2019-11-09,2610.35,1017180.0,232,24,70.049773,617,83.0,21.0,20.0,42.0,...,0.0,515.0,95.0,1.0,13397.0,4.0,280.0,1112.0,6.0,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-27,1468.80,NaN,0,0,0.000000,1440,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2020-03-28,1468.80,NaN,0,0,0.000000,1440,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2020-03-29,1468.80,NaN,0,0,0.000000,1440,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2020-03-30,1468.80,NaN,0,0,0.000000,1440,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2020-03-31,1468.80,NaN,0,0,0.000000,1440,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [59]:
P10.columns=['calories','distance','l_act','m_act','resting_heart','sedentary','sleep_overall_score','sleep_composition_score',
             'sleep_revitalization_score', 'sleep_duration_score',
             'deep_sleep_in_minutes', 'sleep_resting_heart_rate','sleep_restlessness',
             'sleep_duration','sleep_minutesToFallAsleep','sleep_minutesAsleep','sleep_minutesAwake',
             'sleep_minutesAfterWakeup','sleep_timeInBed','sleep_efficiency',
             'main_sleep','steps',
             'hr_below_zone3', 'hr_zone1', 'hr_zone1','hr_zone2','v_act']

In [60]:
P10

,calories,distance,l_act,m_act,resting_heart,sedentary,sleep_overall_score,sleep_composition_score,sleep_revitalization_score,sleep_duration_score,...,sleep_minutesAfterWakeup,sleep_timeInBed,sleep_efficiency,main_sleep,steps,hr_below_zone3,hr_zone1,hr_zone1,hr_zone2,v_act
2019-11-05,1468.80,NaN,0,0,0.000000,1440,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2019-11-06,1468.80,NaN,0,0,0.000000,1440,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2019-11-07,2281.60,806250.0,30,39,0.000000,1309,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,9198.0,28.0,74.0,122.0,16.0,62
2019-11-08,2418.10,719230.0,313,0,71.000000,549,NaN,NaN,NaN,NaN,...,0.0,578.0,93.0,1.0,9865.0,0.0,158.0,1265.0,5.0,0
2019-11-09,2610.35,1017180.0,232,24,70.049773,617,83.0,21.0,20.0,42.0,...,0.0,515.0,95.0,1.0,13397.0,4.0,280.0,1112.0,6.0,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-27,1468.80,NaN,0,0,0.000000,1440,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2020-03-28,1468.80,NaN,0,0,0.000000,1440,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2020-03-29,1468.80,NaN,0,0,0.000000,1440,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2020-03-30,1468.80,NaN,0,0,0.000000,1440,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2020-03-31,1468.80,NaN,0,0,0.000000,1440,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0