In [7]:
import pandas as pd
import numpy as np

In [8]:
calories8 = pd.read_json('osfstorage-archive/pmdata/p08/fitbit/calories.json')
distance8 = pd.read_json('osfstorage-archive/pmdata/p08/fitbit/distance.json')
l_act8 = pd.read_json('osfstorage-archive/pmdata/p08/fitbit/lightly_active_minutes.json')
m_act8 = pd.read_json('osfstorage-archive/pmdata/p08/fitbit/moderately_active_minutes.json')
r_heart8 = pd.read_json('osfstorage-archive/pmdata/p08/fitbit/resting_heart_rate.json')
sedentary8 = pd.read_json('osfstorage-archive/pmdata/p08/fitbit/sedentary_minutes.json')
sleep_score8 = pd.read_csv('osfstorage-archive/pmdata/p08/fitbit/sleep_score.csv')
sleep8 = pd.read_json('osfstorage-archive/pmdata/p08/fitbit/sleep.json')
steps8 = pd.read_json('osfstorage-archive/pmdata/p08/fitbit/steps.json')
hr_zone8 = pd.read_json('osfstorage-archive/pmdata/p08/fitbit/time_in_heart_rate_zones.json')
v_act8 = pd.read_json('osfstorage-archive/pmdata/p08/fitbit/very_active_minutes.json')

In [9]:
google_docs8 = pd.read_csv('osfstorage-archive/pmdata/p08/googledocs/reporting.csv')

In [10]:
calories8.head()

             dateTime  value
0 2019-11-10 00:00:00   1.32
1 2019-11-10 00:01:00   1.32
2 2019-11-10 00:02:00   1.32
3 2019-11-10 00:03:00   1.32
4 2019-11-10 00:04:00   1.32

In [11]:
calories_processed = calories8.resample('D', on = 'dateTime').value.sum()

In [12]:
distance8.head() # per min -> per date

             dateTime  value
0 2019-11-11 09:18:00      0
1 2019-11-11 09:21:00      0
2 2019-11-11 09:22:00      0
3 2019-11-11 09:23:00      0
4 2019-11-11 09:24:00      0

In [13]:
distance_processed = distance8.resample('D', on = 'dateTime').value.sum()

In [14]:
steps_processed = steps8.resample('D', on = 'dateTime').value.sum()

In [15]:
l_act8.head() #per day

    dateTime  value
0 2019-11-10      0
1 2019-11-11    159
2 2019-11-12    209
3 2019-11-13    269
4 2019-11-14    199

In [16]:
m_act8.head() #per day

    dateTime  value
0 2019-11-10      0
1 2019-11-11      9
2 2019-11-12     21
3 2019-11-13     10
4 2019-11-14     44

In [17]:
r_heart8

      dateTime                                              value
0   2019-11-10         {'date': None, 'value': 0.0, 'error': 0.0}
1   2019-11-11  {'date': '11/11/19', 'value': 52.1999998092651...
2   2019-11-12  {'date': '11/12/19', 'value': 51.9618587493896...
3   2019-11-13  {'date': '11/13/19', 'value': 53.035888671875,...
4   2019-11-14  {'date': '11/14/19', 'value': 51.6780881881713...
..         ...                                                ...
138 2020-03-27  {'date': '03/27/20', 'value': 52.8667278289794...
139 2020-03-28  {'date': '03/28/20', 'value': 53.1858882904052...
140 2020-03-29  {'date': '03/29/20', 'value': 53.0537223815918...
141 2020-03-30  {'date': '03/30/20', 'value': 52.8494253158569...
142 2020-03-31  {'date': '03/31/20', 'value': 53.5670413970947...

[143 rows x 2 columns]

In [18]:
r_heart8['value']=r_heart8['value'].apply(lambda x: x['value'])

In [19]:
r_heart_processed=r_heart8

In [20]:
sedentary8

      dateTime  value
0   2019-11-10   1440
1   2019-11-11   1191
2   2019-11-12    566
3   2019-11-13    647
4   2019-11-14    635
..         ...    ...
138 2020-03-27    700
139 2020-03-28    523
140 2020-03-29    600
141 2020-03-30    668
142 2020-03-31    665

[143 rows x 2 columns]

In [21]:
sleep_score8 # timestamp into datatime

,timestamp,sleep_log_entry_id,overall_score,composition_score,revitalization_score,duration_score,deep_sleep_in_minutes,resting_heart_rate,restlessness
0,2019-11-12T07:07:30Z,24605116778,72,17,18,37,62,52,0.107628
1,2019-11-13T07:09:00Z,24619240566,74,16,16,42,72,51,0.072572
2,2019-11-14T07:36:00Z,24629537286,73,17,19,37,56,53,0.082529
3,2019-11-15T07:56:30Z,24642696271,76,21,15,40,70,51,0.082699
4,2019-11-16T10:53:30Z,24655696518,75,17,16,42,62,53,0.102337
...,...,...,...,...,...,...,...,...,...
127,2020-03-26T08:01:30Z,26479270124,77,18,17,42,90,52,0.071503
128,2020-03-27T08:05:30Z,26491432162,75,19,16,40,73,52,0.081081
129,2020-03-28T10:42:00Z,26510243451,82,19,18,45,112,52,0.079935
130,2020-03-29T10:56:30Z,26517565273,79,16,17,46,72,53,0.079618
131,2020-03-30T08:08:30Z,26529747076,72,16,20,36,48,53,0.069767

In [22]:
sleep_score8['timestamp']

0      2019-11-12T07:07:30Z
1      2019-11-13T07:09:00Z
2      2019-11-14T07:36:00Z
3      2019-11-15T07:56:30Z
4      2019-11-16T10:53:30Z
               ...
127    2020-03-26T08:01:30Z
128    2020-03-27T08:05:30Z
129    2020-03-28T10:42:00Z
130    2020-03-29T10:56:30Z
131    2020-03-30T08:08:30Z
Name: timestamp, Length: 132, dtype: object

In [23]:
sleep_score8['timestamp']=sleep_score8['timestamp'].apply(lambda x: x[:10])

In [24]:
sleep_score8.drop(columns='sleep_log_entry_id').head()

,timestamp,overall_score,composition_score,revitalization_score,duration_score,deep_sleep_in_minutes,resting_heart_rate,restlessness
0,2019-11-12,72,17,18,37,62,52,0.107628
1,2019-11-13,74,16,16,42,72,51,0.072572
2,2019-11-14,73,17,19,37,56,53,0.082529
3,2019-11-15,76,21,15,40,70,51,0.082699
4,2019-11-16,75,17,16,42,62,53,0.102337

In [25]:
sleep_score_processed = sleep_score8.drop(columns='sleep_log_entry_id')

In [26]:
sleep8 # date of sleep to index 
# which attributes to use?

,logId,dateOfSleep,startTime,endTime,duration,minutesToFallAsleep,minutesAsleep,minutesAwake,minutesAfterWakeup,timeInBed,efficiency,type,infoCode,levels,mainSleep
0,24605116778,2019-11-12,2019-11-11 23:02:00,2019-11-12T07:07:30.000,29100000,0,409,76,0,485,91,stages,0,"{'summary': {'deep': {'count': 4, 'minutes': 6...",True
1,24619240566,2019-11-13,2019-11-12 23:05:00,2019-11-13T07:09:00.000,29040000,0,423,61,0,484,93,stages,0,"{'summary': {'deep': {'count': 5, 'minutes': 7...",True
2,24629537286,2019-11-14,2019-11-13 23:49:30,2019-11-14T07:36:00.000,27960000,0,402,64,0,466,94,stages,0,"{'summary': {'deep': {'count': 3, 'minutes': 5...",True
3,24642696271,2019-11-15,2019-11-14 23:36:00,2019-11-15T07:56:30.000,30000000,0,420,80,0,500,90,stages,0,"{'summary': {'deep': {'count': 4, 'minutes': 7...",True
4,24655696518,2019-11-16,2019-11-16 00:33:30,2019-11-16T10:53:30.000,37200000,0,516,104,0,620,91,stages,0,"{'summary': {'deep': {'count': 4, 'minutes': 6...",True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,26491432162,2020-03-27,2020-03-26 23:46:30,2020-03-27T08:05:30.000,29940000,0,430,69,0,499,92,stages,0,"{'summary': {'deep': {'count': 6, 'minutes': 7...",True
139,26510243451,2020-03-28,2020-03-28 00:15:00,2020-03-28T10:42:00.000,37620000,0,547,80,3,627,96,stages,0,"{'summary': {'deep': {'count': 7, 'minutes': 1...",True
140,26517565273,2020-03-29,2020-03-29 00:19:00,2020-03-29T10:56:30.000,38220000,0,510,67,0,637,0,stages,0,"{'summary': {'deep': {'count': 4, 'minutes': 7...",True
141,26529747076,2020-03-30,2020-03-30 00:27:00,2020-03-30T08:08:30.000,27660000,0,392,69,0,461,95,stages,0,"{'summary': {'deep': {'count': 3, 'minutes': 4...",True
142,26542825294,2020-03-31,2020-03-30 23:51:00,2020-03-31T08:07:00.000,29760000,0,451,45,0,496,97,stages,0,"{'summary': {'deep': {'count': 7, 'minutes': 7...",True

In [27]:
hr_zone8

      dateTime                                              value
0   2019-11-11  {'valuesInZones': {'BELOW_DEFAULT_ZONE_1': 670...
1   2019-11-12  {'valuesInZones': {'IN_DEFAULT_ZONE_1': 75.0, ...
2   2019-11-13  {'valuesInZones': {'IN_DEFAULT_ZONE_1': 47.0, ...
3   2019-11-14  {'valuesInZones': {'IN_DEFAULT_ZONE_3': 33.0, ...
4   2019-11-15  {'valuesInZones': {'BELOW_DEFAULT_ZONE_1': 119...
..         ...                                                ...
134 2020-03-27  {'valuesInZones': {'IN_DEFAULT_ZONE_1': 31.0, ...
135 2020-03-28  {'valuesInZones': {'BELOW_DEFAULT_ZONE_1': 130...
136 2020-03-29  {'valuesInZones': {'IN_DEFAULT_ZONE_1': 18.0, ...
137 2020-03-30  {'valuesInZones': {'IN_DEFAULT_ZONE_1': 48.0, ...
138 2020-03-31  {'valuesInZones': {'IN_CUSTOM_ZONE': 61.0, 'BE...

[139 rows x 2 columns]

In [43]:
hr_zone_value = pd.DataFrame([eval(str(a).replace('{\'valuesInZones\': ','').replace('}}','}')) for a in hr_zone8['value']])

In [44]:
hr_zone_value

,BELOW_DEFAULT_ZONE_1,IN_DEFAULT_ZONE_1,IN_DEFAULT_ZONE_2,IN_DEFAULT_ZONE_3,IN_CUSTOM_ZONE,BELOW_CUSTOM_ZONE,ABOVE_CUSTOM_ZONE
0,670.0,60.0,41.0,0.0,NaN,NaN,NaN
1,1194.0,75.0,61.0,45.0,NaN,NaN,NaN
2,1343.0,47.0,0.0,0.0,NaN,NaN,NaN
3,1218.0,71.0,28.0,33.0,NaN,NaN,NaN
4,1193.0,148.0,3.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
134,888.0,31.0,101.0,0.0,110.0,910.0,0.0
135,1307.0,17.0,99.0,2.0,106.0,1319.0,0.0
136,1226.0,18.0,113.0,0.0,120.0,1237.0,0.0
137,1286.0,48.0,89.0,0.0,97.0,1326.0,0.0
138,1324.0,67.0,32.0,0.0,61.0,1362.0,0.0

In [47]:
hr_zone_processed = pd.concat([hr_zone8['dateTime'], hr_zone_value], axis=1)

In [48]:
hr_zone_processed

,dateTime,BELOW_DEFAULT_ZONE_1,IN_DEFAULT_ZONE_1,IN_DEFAULT_ZONE_2,IN_DEFAULT_ZONE_3,IN_CUSTOM_ZONE,BELOW_CUSTOM_ZONE,ABOVE_CUSTOM_ZONE
0,2019-11-11,670.0,60.0,41.0,0.0,NaN,NaN,NaN
1,2019-11-12,1194.0,75.0,61.0,45.0,NaN,NaN,NaN
2,2019-11-13,1343.0,47.0,0.0,0.0,NaN,NaN,NaN
3,2019-11-14,1218.0,71.0,28.0,33.0,NaN,NaN,NaN
4,2019-11-15,1193.0,148.0,3.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
134,2020-03-27,888.0,31.0,101.0,0.0,110.0,910.0,0.0
135,2020-03-28,1307.0,17.0,99.0,2.0,106.0,1319.0,0.0
136,2020-03-29,1226.0,18.0,113.0,0.0,120.0,1237.0,0.0
137,2020-03-30,1286.0,48.0,89.0,0.0,97.0,1326.0,0.0
138,2020-03-31,1324.0,67.0,32.0,0.0,61.0,1362.0,0.0

In [49]:
v_act8

      dateTime  value
0   2019-11-10      0
1   2019-11-11     81
2   2019-11-12    159
3   2019-11-13     30
4   2019-11-14     96
..         ...    ...
138 2020-03-27    120
139 2020-03-28    112
140 2020-03-29    121
141 2020-03-30    125
142 2020-03-31     95

[143 rows x 2 columns]

In [50]:
google_docs8 # missing values?

,date,timestamp,meals,weight,glasses_of_fluid,alcohol_consumed
0,11/11/2019,12/11/2019 09:21:23,"Breakfast, Lunch, Dinner, Evening",86.0,13,No
1,15/11/2019,16/11/2019 11:01:40,"Breakfast, Lunch, Dinner, Evening",86.0,12,Yes
2,16/11/2019,16/11/2019 21:16:22,"Breakfast, Lunch, Dinner, Evening",86.0,13,No
3,17/11/2019,17/11/2019 22:55:19,"Breakfast, Lunch, Dinner, Evening",85.0,10,No
4,18/11/2019,19/11/2019 16:06:42,"Breakfast, Lunch, Dinner, Evening",85.0,10,No
5,21/11/2019,21/11/2019 22:45:43,"Breakfast, Lunch, Dinner, Evening",87.0,10,No
6,22/11/2019,24/11/2019 10:49:43,"Breakfast, Lunch, Dinner, Evening",87.0,12,Yes
7,23/11/2019,24/11/2019 10:50:21,"Breakfast, Lunch, Dinner, Evening",87.0,14,Yes
8,25/11/2019,25/11/2019 21:02:03,"Breakfast, Lunch, Dinner, Evening",87.0,13,No
9,26/11/2019,27/11/2019 08:45:10,"Breakfast, Lunch, Dinner, Evening",87.0,14,No
10,29/11/2019,30/11/2019 11:50:07,"Breakfast, Lunch, Dinner, Evening",87.0,20,Yes
11,02/12/2019,03/12/2019 22:05:25,"Breakfast, Lunch, Dinner, Evening",87.0,11,No
12,03/12/2019,03/12/2019 22:05:47,"Breakfast, Lunch, Dinner",87.0,13,No
13,05/12/2019,07/12/2019 19:11:55,"Breakfast, Lunch, Dinner, Evening",87.0,10,No
14,06/12/2019,07/12/2019 19:12:14,"Breakfast, Lunch, Dinner, Evening",87.0,13,No
15,08/12/2019,10/12/2019 11:53:03,"Breakfast, Lunch, Dinner, Evening",86.0,11,No
16,09/12/2019,10/12/2019 11:53:29,"Breakfast, Lunch, Dinner",87.0,12,Yes
17,10/12/2019,11/12/2019 21:43:31,"Breakfast, Lunch, Dinner, Evening",88.0,11,No
18,12/12/2019,13/12/2019 08:01:58,"Breakfast, Lunch, Dinner, Evening",88.0,13,No
19,14/12/2019,16/12/2019 14:35:53,"Breakfast, Lunch, Dinner, Evening",88.0,16,Yes
20,15/12/2019,16/12/2019 14:36:12,"Lunch, Dinner, Evening",88.0,11,No
21,17/12/2019,18/12/2019 08:51:29,"Breakfast, Lunch, Dinner, Evening",88.0,12,No
22,19/12/2019,19/12/2019 07:50:36,"Breakfast, Lunch, Dinner",88.0,12,No
23,21/12/2019,22/12/2019 17:16:41,"Breakfast, Lunch, Dinner",88.0,18,Yes
24,22/12/2019,23/12/2019 10:31:37,"Lunch, Dinner",88.0,10,No
25,22/12/2019,27/12/2019 12:40:28,"Breakfast, Lunch, Dinner, Evening",88.0,14,Yes
26,23/12/2019,27/12/2019 12:40:57,"Breakfast, Lunch, Dinner, Evening",88.0,13,No
27,24/12/2019,27/12/2019 12:41:38,"Breakfast, Lunch, Dinner, Evening",89.0,11,No
28,25/12/2019,27/12/2019 12:42:01,"Lunch, Dinner, Evening",88.0,10,Yes
29,27/12/2019,27/12/2019 12:42:35,"Breakfast, Lunch, Dinner",88.0,14,Yes
30,28/12/2019,30/12/2019 11:50:29,"Breakfast, Lunch, Dinner, Evening",87.0,16,Yes
31,29/12/2019,30/12/2019 11:48:54,"Breakfast, Lunch, Dinner",88.0,13,No
32,30/12/2019,01/12/2019 09:31:19,"Breakfast, Lunch, Dinner",87.0,11,No
33,31/12/2019,01/01/2020 13:54:30,"Breakfast, Lunch, Dinner",87.0,20,Yes
34,03/01/2020,04/01/2020 09:40:09,"Breakfast, Lunch, Dinner, Evening",87.0,14,No
35,07/01/2020,07/01/2020 07:16:57,"Breakfast, Lunch, Dinner, Evening",87.0,15,No
36,10/01/2020,11/01/2020 12:10:49,"Breakfast, Lunch, Dinner, Evening",87.0,13,No
37,12/01/2020,13/01/2020 09:01:40,"Breakfast, Dinner, Evening",85.0,10,No
38,21/01/2020,21/01/2020 20:55:39,"Breakfast, Lunch, Dinner, Evening",84.0,11,No
39,31/01/2020,31/01/2020 18:55:59,"Breakfast, Lunch, Dinner, Evening",85.0,13,No
40,01/02/2020,02/02/2020 10:27:38,"Breakfast, Lunch, Dinner, Evening",85.0,11,Yes
41,03/02/2020,04/02/2020 08:18:05,"Breakfast, Lunch, Dinner, Evening",85.0,11,No
42,04/02/2020,05/02/2020 07:33:57,"Breakfast, Lunch, Dinner, Evening",85.0,13,No
43,08/02/2020,08/02/2020 23:03:37,"Breakfast, Lunch, Dinner, Evening",85.0,13,No
44,12/02/2020,12/02/2020 22:43:03,"Breakfast, Lunch, Dinner, Evening",85.0,14,No
45,21/02/2020,22/02/2020 10:57:06,"Breakfast, Lunch, Dinner, Evening",85.0,16,Yes
46,22/02/2020,23/02/2020 11:39:46,"Breakfast, Lunch, Dinner, Evening",85.0,10,No
47,24/02/2020,25/02/2020 20:41:34,"Breakfast, Lunch, Dinner, Evening",86.0,14,No
48,25/02/2020,26/02/2020 05:20:32,"Breakfast, Lunch, Dinner, Evening",86.0,13,No
49,26/02/2020,28/02/2020 21:06:42,"Breakfast, Lunch, Dinner, Evening",86.0,10,No
50,02/03/2020,03/03/2020 07:42:29,"Breakfast, Lunch, Dinner, Evening",NaN,13,No
51,05/03/2020,06/03/2020 20:08:37,"Breakfast, Lunch, Dinner, Evening",NaN,10,No
52,11/03/2020,12/03/2020 08:38:04,"Breakfast, Lunch, Dinner, Evening",NaN,10,No
53,17/03/2020,18/03/2020 21:41:58,"Breakfast, Lunch, Dinner, Evening",NaN,10,Yes
54,19/03/2020,20/03/2020 17:53:20,"Breakfast, Lunch, Dinner, Evening",NaN,13,No
55,22/03/2020,24/03/2020 09:01:50,"Breakfast, Lunch, Dinner, Evening",NaN,14,No
56,23/03/2020,24/03/2020 09:02:21,"Breakfast, Lunch, Dinner, Evening",NaN,12,No
57,30/03/2020,31/03/2020 16:36:40,"Breakfast, Lunch, Dinner, Evening",NaN,14,No

In [51]:
sleep8 #drop duplicates, logID, start/endtime, type, infocode, levels
#date of sleep - 1

,logId,dateOfSleep,startTime,endTime,duration,minutesToFallAsleep,minutesAsleep,minutesAwake,minutesAfterWakeup,timeInBed,efficiency,type,infoCode,levels,mainSleep
0,24605116778,2019-11-12,2019-11-11 23:02:00,2019-11-12T07:07:30.000,29100000,0,409,76,0,485,91,stages,0,"{'summary': {'deep': {'count': 4, 'minutes': 6...",True
1,24619240566,2019-11-13,2019-11-12 23:05:00,2019-11-13T07:09:00.000,29040000,0,423,61,0,484,93,stages,0,"{'summary': {'deep': {'count': 5, 'minutes': 7...",True
2,24629537286,2019-11-14,2019-11-13 23:49:30,2019-11-14T07:36:00.000,27960000,0,402,64,0,466,94,stages,0,"{'summary': {'deep': {'count': 3, 'minutes': 5...",True
3,24642696271,2019-11-15,2019-11-14 23:36:00,2019-11-15T07:56:30.000,30000000,0,420,80,0,500,90,stages,0,"{'summary': {'deep': {'count': 4, 'minutes': 7...",True
4,24655696518,2019-11-16,2019-11-16 00:33:30,2019-11-16T10:53:30.000,37200000,0,516,104,0,620,91,stages,0,"{'summary': {'deep': {'count': 4, 'minutes': 6...",True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,26491432162,2020-03-27,2020-03-26 23:46:30,2020-03-27T08:05:30.000,29940000,0,430,69,0,499,92,stages,0,"{'summary': {'deep': {'count': 6, 'minutes': 7...",True
139,26510243451,2020-03-28,2020-03-28 00:15:00,2020-03-28T10:42:00.000,37620000,0,547,80,3,627,96,stages,0,"{'summary': {'deep': {'count': 7, 'minutes': 1...",True
140,26517565273,2020-03-29,2020-03-29 00:19:00,2020-03-29T10:56:30.000,38220000,0,510,67,0,637,0,stages,0,"{'summary': {'deep': {'count': 4, 'minutes': 7...",True
141,26529747076,2020-03-30,2020-03-30 00:27:00,2020-03-30T08:08:30.000,27660000,0,392,69,0,461,95,stages,0,"{'summary': {'deep': {'count': 3, 'minutes': 4...",True
142,26542825294,2020-03-31,2020-03-30 23:51:00,2020-03-31T08:07:00.000,29760000,0,451,45,0,496,97,stages,0,"{'summary': {'deep': {'count': 7, 'minutes': 7...",True

In [52]:
sleep8['dateOfSleep'][sleep8['dateOfSleep'].duplicated()]

29     2019-12-10
38     2019-12-22
48     2020-01-01
50     2020-01-02
57     2020-01-09
61     2020-01-12
63     2020-01-13
70     2020-01-19
91     2020-02-08
122    2020-03-09
Name: dateOfSleep, dtype: object

In [53]:
wellness = pd.read_csv('osfstorage-archive/pmdata/p08/pmsys/wellness.csv')

In [54]:
wellness

,effective_time_frame,fatigue,mood,readiness,sleep_duration_h,sleep_quality,soreness,soreness_area,stress
0,2019-11-11T08:06:00.295Z,2,4,4,8,4,1,"[48979004, 32696007, 12921003]",4
1,2019-11-12T06:20:38.938Z,3,3,6,8,2,3,[],3
2,2019-11-13T06:25:14.858Z,2,3,3,8,2,2,"[48979004, 12921003]",3
3,2019-11-14T07:11:01.724Z,2,3,3,8,2,2,[32696007],2
4,2019-11-15T07:12:39.933Z,2,4,5,8,4,2,"[32696007, 22943007]",4
...,...,...,...,...,...,...,...,...,...
99,2020-03-21T08:00:10.133Z,4,4,8,8,4,3,[],3
100,2020-03-22T11:13:34.983Z,3,4,6,8,2,2,[32696007],4
101,2020-03-24T08:01:09.441Z,2,4,4,7,4,2,"[48979004, 32696007]",4
102,2020-03-25T09:57:31.001Z,3,4,4,7,4,3,[],4
103,2020-03-27T08:00:16.906Z,2,4,5,7,2,2,"[48979004, 32696007]",4

In [55]:
wellness['effective_time_frame'] = wellness['effective_time_frame'].apply(lambda x: x[:10])

In [56]:
wellness

,effective_time_frame,fatigue,mood,readiness,sleep_duration_h,sleep_quality,soreness,soreness_area,stress
0,2019-11-11,2,4,4,8,4,1,"[48979004, 32696007, 12921003]",4
1,2019-11-12,3,3,6,8,2,3,[],3
2,2019-11-13,2,3,3,8,2,2,"[48979004, 12921003]",3
3,2019-11-14,2,3,3,8,2,2,[32696007],2
4,2019-11-15,2,4,5,8,4,2,"[32696007, 22943007]",4
...,...,...,...,...,...,...,...,...,...
99,2020-03-21,4,4,8,8,4,3,[],3
100,2020-03-22,3,4,6,8,2,2,[32696007],4
101,2020-03-24,2,4,4,7,4,2,"[48979004, 32696007]",4
102,2020-03-25,3,4,4,7,4,3,[],4
103,2020-03-27,2,4,5,7,2,2,"[48979004, 32696007]",4

In [57]:
wellness['effective_time_frame'].head(30)

0     2019-11-11
1     2019-11-12
2     2019-11-13
3     2019-11-14
4     2019-11-15
5     2019-11-16
6     2019-11-17
7     2019-11-18
8     2019-11-19
9     2019-11-20
10    2019-11-21
11    2019-11-22
12    2019-11-23
13    2019-11-25
14    2019-11-26
15    2019-11-27
16    2019-11-29
17    2019-11-30
18    2019-12-01
19    2019-12-02
20    2019-12-03
21    2019-12-04
22    2019-12-08
23    2019-12-09
24    2019-12-10
25    2019-12-11
26    2019-12-12
27    2019-12-13
28    2019-12-14
29    2019-12-15
Name: effective_time_frame, dtype: object

aggregate

In [58]:
l_act8_processed = l_act8.set_index('dateTime')

In [59]:
m_act8_processed = m_act8.set_index('dateTime')

In [42]:
r_heart_processed = r_heart_processed.set_index('dateTime')

In [60]:
sedentary8_processed = sedentary8.set_index('dateTime')

In [61]:
sleep_score_processed = sleep_score_processed.set_index('timestamp')

In [63]:
sleep8_processed = sleep8.set_index('dateOfSleep')

In [64]:
hr_zone_processed

,dateTime,BELOW_DEFAULT_ZONE_1,IN_DEFAULT_ZONE_1,IN_DEFAULT_ZONE_2,IN_DEFAULT_ZONE_3,IN_CUSTOM_ZONE,BELOW_CUSTOM_ZONE,ABOVE_CUSTOM_ZONE
0,2019-11-11,670.0,60.0,41.0,0.0,NaN,NaN,NaN
1,2019-11-12,1194.0,75.0,61.0,45.0,NaN,NaN,NaN
2,2019-11-13,1343.0,47.0,0.0,0.0,NaN,NaN,NaN
3,2019-11-14,1218.0,71.0,28.0,33.0,NaN,NaN,NaN
4,2019-11-15,1193.0,148.0,3.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
134,2020-03-27,888.0,31.0,101.0,0.0,110.0,910.0,0.0
135,2020-03-28,1307.0,17.0,99.0,2.0,106.0,1319.0,0.0
136,2020-03-29,1226.0,18.0,113.0,0.0,120.0,1237.0,0.0
137,2020-03-30,1286.0,48.0,89.0,0.0,97.0,1326.0,0.0
138,2020-03-31,1324.0,67.0,32.0,0.0,61.0,1362.0,0.0

In [65]:
hr_zone_processed = hr_zone_processed.set_index('dateTime')

In [66]:
v_act8_processed = v_act8.set_index('dateTime')

In [67]:
[i.index for i in [calories_processed,distance_processed,l_act8_processed,m_act8_processed,r_heart_processed,sedentary8_processed,sleep_score_processed,sleep8_processed,steps_processed,hr_zone_processed,v_act8_processed]]

[DatetimeIndex(['2019-11-10', '2019-11-11', '2019-11-12', '2019-11-13',
                '2019-11-14', '2019-11-15', '2019-11-16', '2019-11-17',
                '2019-11-18', '2019-11-19',
                ...
                '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25',
                '2020-03-26', '2020-03-27', '2020-03-28', '2020-03-29',
                '2020-03-30', '2020-03-31'],
               dtype='datetime64[ns]', name='dateTime', length=143, freq='D'),
 DatetimeIndex(['2019-11-11', '2019-11-12', '2019-11-13', '2019-11-14',
                '2019-11-15', '2019-11-16', '2019-11-17', '2019-11-18',
                '2019-11-19', '2019-11-20',
                ...
                '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25',
                '2020-03-26', '2020-03-27', '2020-03-28', '2020-03-29',
                '2020-03-30', '2020-03-31'],
               dtype='datetime64[ns]', name='dateTime', length=142, freq='D'),
 DatetimeIndex(['2019-11-10', '2019-11-11', '2019-11-12', '2019-11-13',
                '2019-11-14', '2019-11-15', '2019-11-16', '2019-11-17',
                '2019-11-18', '2019-11-19',
                ...
                '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25',
                '2020-03-26', '2020-03-27', '2020-03-28', '2020-03-29',
                '2020-03-30', '2020-03-31'],
               dtype='datetime64[ns]', name='dateTime', length=143, freq=None),
 DatetimeIndex(['2019-11-10', '2019-11-11', '2019-11-12', '2019-11-13',
                '2019-11-14', '2019-11-15', '2019-11-16', '2019-11-17',
                '2019-11-18', '2019-11-19',
                ...
                '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25',
                '2020-03-26', '2020-03-27', '2020-03-28', '2020-03-29',
                '2020-03-30', '2020-03-31'],
               dtype='datetime64[ns]', name='dateTime', length=143, freq=None),
 DatetimeIndex(['2019-11-10', '2019-11-11', '2019-11-12', '2019-11-13',
                '2019-11-14', '2019-11-15', '2019-11-16', '2019-11-17',
                '2019-11-18', '2019-11-19',
                ...
                '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25',
                '2020-03-26', '2020-03-27', '2020-03-28', '2020-03-29',
                '2020-03-30', '2020-03-31'],
               dtype='datetime64[ns]', name='dateTime', length=143, freq=None),
 DatetimeIndex(['2019-11-10', '2019-11-11', '2019-11-12', '2019-11-13',
                '2019-11-14', '2019-11-15', '2019-11-16', '2019-11-17',
                '2019-11-18', '2019-11-19',
                ...
                '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25',
                '2020-03-26', '2020-03-27', '2020-03-28', '2020-03-29',
                '2020-03-30', '2020-03-31'],
               dtype='datetime64[ns]', name='dateTime', length=143, freq=None),
 Index(['2019-11-12', '2019-11-13', '2019-11-14', '2019-11-15', '2019-11-16',
        '2019-11-17', '2019-11-18', '2019-11-19', '2019-11-20', '2019-11-21',
        ...
        '2020-03-20', '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25',
        '2020-03-26', '2020-03-27', '2020-03-28', '2020-03-29', '2020-03-30'],
       dtype='object', name='timestamp', length=132),
 Index(['2019-11-12', '2019-11-13', '2019-11-14', '2019-11-15', '2019-11-16',
        '2019-11-17', '2019-11-18', '2019-11-19', '2019-11-20', '2019-11-21',
        ...
        '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25', '2020-03-26',
        '2020-03-27', '2020-03-28', '2020-03-29', '2020-03-30', '2020-03-31'],
       dtype='object', name='dateOfSleep', length=143),
 DatetimeIndex(['2019-11-11', '2019-11-12', '2019-11-13', '2019-11-14',
                '2019-11-15', '2019-11-16', '2019-11-17', '2019-11-18',
                '2019-11-19', '2019-11-20',
                ...
                '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25',
                '2020-03-26', '2020-03-27', '2020-03-28', '2020-03-29',
                '2020-03-30', '2020-03-31'],
               dtype='datetime64[ns]', name='dateTime', length=142, freq='D'),
 DatetimeIndex(['2019-11-11', '2019-11-12', '2019-11-13', '2019-11-14',
                '2019-11-15', '2019-11-16', '2019-11-17', '2019-11-18',
                '2019-11-19', '2019-11-20',
                ...
                '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25',
                '2020-03-26', '2020-03-27', '2020-03-28', '2020-03-29',
                '2020-03-30', '2020-03-31'],
               dtype='datetime64[ns]', name='dateTime', length=139, freq=None),
 DatetimeIndex(['2019-11-10', '2019-11-11', '2019-11-12', '2019-11-13',
                '2019-11-14', '2019-11-15', '2019-11-16', '2019-11-17',
                '2019-11-18', '2019-11-19',
                ...
                '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25',
                '2020-03-26', '2020-03-27', '2020-03-28', '2020-03-29',
                '2020-03-30', '2020-03-31'],
               dtype='datetime64[ns]', name='dateTime', length=143, freq=None)]

In [68]:
sleep_score_processed.index = pd.to_datetime(sleep_score_processed.index)

In [70]:
sleep8_processed.index = pd.to_datetime(sleep8_processed.index)

In [71]:
sleep8_processed = sleep8_processed[~sleep8_processed.index.duplicated(keep='first')]

In [72]:
sleep8_processed['mainSleep'] = pd.get_dummies(sleep8_processed['mainSleep'])

In [73]:
sleep8_processed = sleep8_processed.drop(['logId','startTime','endTime','type','infoCode','levels'], axis=1)

In [74]:
P08 = pd.concat([calories_processed,distance_processed,l_act8_processed,m_act8_processed,r_heart_processed,sedentary8_processed,sleep_score_processed,sleep8_processed,steps_processed,hr_zone_processed,v_act8_processed], axis=1)

In [75]:
P08

,value,value,value,value,value,value,overall_score,composition_score,revitalization_score,duration_score,...,mainSleep,value,BELOW_DEFAULT_ZONE_1,IN_DEFAULT_ZONE_1,IN_DEFAULT_ZONE_2,IN_DEFAULT_ZONE_3,IN_CUSTOM_ZONE,BELOW_CUSTOM_ZONE,ABOVE_CUSTOM_ZONE,value
2019-11-10,1900.80,NaN,0,0,0.000000,1440,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2019-11-11,3401.21,1090230.0,159,9,52.200000,1191,NaN,NaN,NaN,NaN,...,NaN,14174.0,670.0,60.0,41.0,0.0,NaN,NaN,NaN,81
2019-11-12,4860.61,1874230.0,209,21,51.961859,566,72.0,17.0,18.0,37.0,...,1.0,24821.0,1194.0,75.0,61.0,45.0,NaN,NaN,NaN,159
2019-11-13,3259.49,841940.0,269,10,53.035889,647,74.0,16.0,16.0,42.0,...,1.0,11012.0,1343.0,47.0,0.0,0.0,NaN,NaN,NaN,30
2019-11-14,4171.72,1459720.0,199,44,51.678088,635,73.0,17.0,19.0,37.0,...,1.0,19199.0,1218.0,71.0,28.0,33.0,NaN,NaN,NaN,96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-27,3768.88,1111420.0,100,21,52.866728,700,75.0,19.0,16.0,40.0,...,1.0,10948.0,888.0,31.0,101.0,0.0,110.0,910.0,0.0,120
2020-03-28,4063.69,2304400.0,175,3,53.185888,523,82.0,19.0,18.0,45.0,...,1.0,21355.0,1307.0,17.0,99.0,2.0,106.0,1319.0,0.0,112
2020-03-29,3905.43,272270.0,127,15,53.053722,600,79.0,16.0,17.0,46.0,...,1.0,5111.0,1226.0,18.0,113.0,0.0,120.0,1237.0,0.0,121
2020-03-30,4205.92,2412870.0,179,7,52.849425,668,72.0,16.0,20.0,36.0,...,1.0,22280.0,1286.0,48.0,89.0,0.0,97.0,1326.0,0.0,125
2020-03-31,3595.07,496660.0,169,15,53.567041,665,NaN,NaN,NaN,NaN,...,1.0,7519.0,1324.0,67.0,32.0,0.0,61.0,1362.0,0.0,95

In [94]:
P08= P08.drop(['IN_CUSTOM_ZONE','BELOW_CUSTOM_ZONE','ABOVE_CUSTOM_ZONE'],axis=1)

In [95]:
P08

,value,value,value,value,value,value,overall_score,composition_score,revitalization_score,duration_score,...,minutesAfterWakeup,timeInBed,efficiency,mainSleep,value,BELOW_DEFAULT_ZONE_1,IN_DEFAULT_ZONE_1,IN_DEFAULT_ZONE_2,IN_DEFAULT_ZONE_3,value
2019-11-10,1900.80,NaN,0,0,0.000000,1440,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2019-11-11,3401.21,1090230.0,159,9,52.200000,1191,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,14174.0,670.0,60.0,41.0,0.0,81
2019-11-12,4860.61,1874230.0,209,21,51.961859,566,72.0,17.0,18.0,37.0,...,0.0,485.0,91.0,1.0,24821.0,1194.0,75.0,61.0,45.0,159
2019-11-13,3259.49,841940.0,269,10,53.035889,647,74.0,16.0,16.0,42.0,...,0.0,484.0,93.0,1.0,11012.0,1343.0,47.0,0.0,0.0,30
2019-11-14,4171.72,1459720.0,199,44,51.678088,635,73.0,17.0,19.0,37.0,...,0.0,466.0,94.0,1.0,19199.0,1218.0,71.0,28.0,33.0,96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-27,3768.88,1111420.0,100,21,52.866728,700,75.0,19.0,16.0,40.0,...,0.0,499.0,92.0,1.0,10948.0,888.0,31.0,101.0,0.0,120
2020-03-28,4063.69,2304400.0,175,3,53.185888,523,82.0,19.0,18.0,45.0,...,3.0,627.0,96.0,1.0,21355.0,1307.0,17.0,99.0,2.0,112
2020-03-29,3905.43,272270.0,127,15,53.053722,600,79.0,16.0,17.0,46.0,...,0.0,637.0,0.0,1.0,5111.0,1226.0,18.0,113.0,0.0,121
2020-03-30,4205.92,2412870.0,179,7,52.849425,668,72.0,16.0,20.0,36.0,...,0.0,461.0,95.0,1.0,22280.0,1286.0,48.0,89.0,0.0,125
2020-03-31,3595.07,496660.0,169,15,53.567041,665,NaN,NaN,NaN,NaN,...,0.0,496.0,97.0,1.0,7519.0,1324.0,67.0,32.0,0.0,95

In [96]:
P08.columns=['calories','distance','l_act','m_act','resting_heart','sedentary','sleep_overall_score','sleep_composition_score',
             'sleep_revitalization_score', 'sleep_duration_score',
             'deep_sleep_in_minutes', 'sleep_resting_heart_rate','sleep_restlessness',
             'sleep_duration','sleep_minutesToFallAsleep','sleep_minutesAsleep','sleep_minutesAwake',
             'sleep_minutesAfterWakeup','sleep_timeInBed','sleep_efficiency',
             'main_sleep','steps',
             'hr_below_zone1', 'hr_zone1', 'hr_zone2','hr_zone3','v_act']

In [97]:
P08

,calories,distance,l_act,m_act,resting_heart,sedentary,sleep_overall_score,sleep_composition_score,sleep_revitalization_score,sleep_duration_score,...,sleep_minutesAfterWakeup,sleep_timeInBed,sleep_efficiency,main_sleep,steps,hr_below_zone1,hr_zone1,hr_zone2,hr_zone3,v_act
2019-11-10,1900.80,NaN,0,0,0.000000,1440,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2019-11-11,3401.21,1090230.0,159,9,52.200000,1191,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,14174.0,670.0,60.0,41.0,0.0,81
2019-11-12,4860.61,1874230.0,209,21,51.961859,566,72.0,17.0,18.0,37.0,...,0.0,485.0,91.0,1.0,24821.0,1194.0,75.0,61.0,45.0,159
2019-11-13,3259.49,841940.0,269,10,53.035889,647,74.0,16.0,16.0,42.0,...,0.0,484.0,93.0,1.0,11012.0,1343.0,47.0,0.0,0.0,30
2019-11-14,4171.72,1459720.0,199,44,51.678088,635,73.0,17.0,19.0,37.0,...,0.0,466.0,94.0,1.0,19199.0,1218.0,71.0,28.0,33.0,96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-27,3768.88,1111420.0,100,21,52.866728,700,75.0,19.0,16.0,40.0,...,0.0,499.0,92.0,1.0,10948.0,888.0,31.0,101.0,0.0,120
2020-03-28,4063.69,2304400.0,175,3,53.185888,523,82.0,19.0,18.0,45.0,...,3.0,627.0,96.0,1.0,21355.0,1307.0,17.0,99.0,2.0,112
2020-03-29,3905.43,272270.0,127,15,53.053722,600,79.0,16.0,17.0,46.0,...,0.0,637.0,0.0,1.0,5111.0,1226.0,18.0,113.0,0.0,121
2020-03-30,4205.92,2412870.0,179,7,52.849425,668,72.0,16.0,20.0,36.0,...,0.0,461.0,95.0,1.0,22280.0,1286.0,48.0,89.0,0.0,125
2020-03-31,3595.07,496660.0,169,15,53.567041,665,NaN,NaN,NaN,NaN,...,0.0,496.0,97.0,1.0,7519.0,1324.0,67.0,32.0,0.0,95